* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
}
header {
    font-family: cursive;
}
.container-nav {
    font-family: cursive;
}
.container-title {
    background-image: url(../assets/design1_image1.jpg);
    max-width: 100%;
    height: 40vh; 
    background-size: cover;
    background-position-y: 75%;
}
.title {
    font-size: 70px;
    padding-left: 10px;
}
h2 {
    text-align: center;
    color: white;
    background-color: black;
    padding: 5px 0px;
}
header > div > img {
    height: 200px;
    position: absolute;
    right: 8%;
    top: 26%;
}
nav > a{
    display: flex;
    flex-direction: column;
    margin: 35px 0px 0px 25px;
    width: 15vw;
}
.mail{
    margin-bottom: 15px;
}
.container {
    display: flex;
    font-family: cursive;
}
.container-dates {
    margin-top: 35px;
    margin-left: 10px;
    width:70vw;
}
.info{
    text-indent: 20px;
    margin-bottom: 15px;
}
.bold {
    font-weight: bold;
    list-style-type: none;
    font-style: italic;
} 
.space {
    margin-left: 25px;
    list-style-type: none;
    margin-bottom: 15px;
}
.container-rules {
    font-family: sans-serif;
    margin: 40px 0px 40px 0px; 
    width: 65%;
    font-size: 19px;
}
.title-rules1 {
    text-align: center;
}
.title-rules2 {
    text-align: center;
    font-weight: lighter;
}
.sportsmanship {
    margin: 50px 0px 25px 0px;
}
section > p {
    text-indent: 35px;
}
.title-rules3 {
    margin-top: 50px;
}
.item::marker{
    font-weight: bold;
    font-size: 20px;
}
.item {
    margin-top: 25px;
}
.title-2 {
    margin: 25px 0px 25px 0px;
}
ol, ul {
    list-style-position: inside;
}
.list-2 {
    list-style-type: lower-alpha;
}
.list-3 {
    list-style-type: circle;
    margin-left: 50px;
 }
.content {
    display: inline;
}
.container-games {
    font-family: Arial;
    margin: 50px 150px 40px 150px;
}
.title-games {
    margin-left: 130px;
    font-size: 33px;
}
.title-4 {
    font-style: italic;
    font-weight: lighter;
    margin-top: 15px;
    margin-left: 40px;
    font-size: 18px;
}
.line {
    text-decoration: underline;
    margin-bottom: 30px;
}
.table-center {
    text-align: center;
    width: 190px;
}
.table-width {
    width: 150px;
    text-align: start;
    height: 30px;
}
td {
    height: 25px;
}
.container-games-2 {
    margin-left: 40px;
}
.bold-1 {
    font-weight: bold;
}
.article-1 {
    margin-top: 45px;
    font-size: 17px;
}
.article-2 {
    font-size: 17px;
    margin: 15px 0px 40px 0px;
    width: 580px;
}
.article-3 {
    font-size: 17px;
    margin-bottom: 15px;
}
.space1 {
    margin-left: 160px ;
}
